STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_WEBHOOK_VERIFY_TOKEN=cpt_webhook_secret
NEXTAUTH_URL=https://dash.corridapratodos.com.br
NEXTAUTH_SECRET=
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"cpt-dash"}
